In [177]:
# importing library and read in data
import pandas as pd

nat_id = pd.read_csv('Data/player/nationality.csv');     # nationality id to nationality
player15 = pd.read_csv('Data/player/players_15.csv');
world_cup_matches = pd.read_csv('Data/world_cup_matches.csv');
world_cup_matches22 = pd.read_csv('Data/2022_world_cup_matches.csv');

C:\Users\kenfa\AppData\Local\Temp\ipykernel_34716\79348581.py:5: DtypeWarning: Columns (104) have mixed types. Specify dtype option on import or set low_memory=False.
  player15 = pd.read_csv('Data/player/players_15.csv');

#####                       <ins>Making List of country that was in world cup 2018 and 2022</ins>

In [178]:
world_cup_matches.columns = [c.replace(' ', '_').lower() for c in world_cup_matches.columns]
world_cup_matches22.columns = [c.replace(' ', '_').lower() for c in world_cup_matches22.columns]
world_cup_matches22 = world_cup_matches22.drop(world_cup_matches22.index[48:64])  # drop rows without country name
world_cup_matches = world_cup_matches[world_cup_matches['year'] >= 2015]          # keeping only years bigger than 2015
world_cup_team = world_cup_matches.home_team.values.tolist()
world_cup_team = world_cup_team + world_cup_matches.away_team.values.tolist() + world_cup_matches22.away_team.values.tolist() # column to list
world_cup_team = [*set(world_cup_team)]             # remove duplicate
print(world_cup_team)

['Spain', 'Switzerland', 'Poland', 'Costa Rica', 'Panama', 'England', 'Saudi Arabia', 'Netherlands', 'Argentina', 'Brazil', 'Sweden', 'Peru', 'Australia', 'South Korea', 'Japan', 'Wales', 'Mexico', 'Portugal', 'Denmark', 'France', 'Canada', 'Morocco', 'Iran', 'Colombia', 'Ecuador', 'Cameroon', 'Croatia', 'United States', 'Serbia', 'Belgium', 'Ghana', 'Uruguay', 'Iceland', 'Germany', 'Tunisia', 'Nigeria', 'Senegal', 'Egypt', 'Russia']

In [179]:
# player15 = player15.drop(labels=['player_face_url', 'club_logo_url', 'club_flag_url', 'nation_logo_url', 'nation_flag_url',
#                                   'rb', 'gk','rcb','cb','lcb','lb','rwb','rdm','cdm','ldm','lwb', 'rm', 'rcm','cm','lcm',
#                                   'lm', 'ram', 'cam', 'lam', 'rw', 'rf', 'cf', 'lf', 'lw', 'rs', 'st', 'ls', ''], axis=1);

player15 = player15[['sofifa_id','short_name','short_name','long_name', 'value_eur', 'wage_eur', 'age', 'height_cm', 
                     'weight_kg','club_team_id', 'club_name','nationality_id', 'nationality_name']]

player15.nationality_name = player15.nationality_name.replace(['China PR', 'Republic of Ireland', 'Korea Republic'], ['China', 'Ireland', 'South Korea'])
player15 = player15[player15['nationality_name'].isin(world_cup_team)]

In [180]:
#pd.set_option('display.max_rows', None)
pd.options.display.max_rows = 50
player15.to_csv('Clean_Data/player2015.csv')
player15

,sofifa_id,short_name,short_name,long_name,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,club_name,nationality_id,nationality_name
0,158023,L. Messi,L. Messi,Lionel Andrés Messi Cuccittini,100500000.0,550000.0,27,169,67,241.0,FC Barcelona,52,Argentina
1,20801,Cristiano Ronaldo,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,79000000.0,375000.0,29,185,80,243.0,Real Madrid CF,38,Portugal
2,9014,A. Robben,A. Robben,Arjen Robben,54500000.0,275000.0,30,180,80,21.0,FC Bayern München,34,Netherlands
3,41236,Z. Ibrahimović,Z. Ibrahimović,Zlatan Ibrahimović,52500000.0,275000.0,32,195,95,73.0,Paris Saint-Germain,46,Sweden
4,167495,M. Neuer,M. Neuer,Manuel Peter Neuer,63500000.0,300000.0,28,193,92,21.0,FC Bayern München,21,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16148,220939,L. Pilling,L. Pilling,Luke Pilling,20000.0,2000.0,16,180,69,15048.0,Tranmere Rovers,50,Wales
16150,220806,E. Redman,E. Redman,Ellis Redman,20000.0,2000.0,17,187,81,112254.0,Newport County,50,Wales
16151,225509,A. Collins,A. Collins,Aaron Graham John Collins,30000.0,2000.0,17,178,57,112254.0,Newport County,50,Wales
16153,217591,P. Żemło,P. Żemło,Piotr Żemło,15000.0,2000.0,18,190,76,1873.0,Wisła Kraków,37,Poland
16154,222947,T. Davies,T. Davies,Thomas Christopher Davies,15000.0,2000.0,22,180,70,112260.0,Fleetwood Town,14,England